@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: "National Park";
    src: url("./static/fonts/NationalPark-VariableVF.woff2") format(woff2);
}

:root {
    overscroll-behavior: none;
}

* {
    scrollbar-color: var(--secondary) var(--light);
}

footer { 
    opacity: 1;
}

hr {
   height: 5px; 
}

ul {
    list-style-type: '\2726  ';
}

ul ul {
    list-style-type: '\2727  ';
}

.internal {
    padding: 0.1rem 0.2rem !important;
}

.center a[href^="https://ribo.zone"] svg {
    display: none;
}

.center a[href^="https://ribo.zone"]::after {
    content: url("https://ribo.zone/img/favicon.png");
    vertical-align: baseline;
    width: 16px;
    margin: 0 3px;
    image-rendering: pixelated;
}

.content-meta {
    line-height: 1.25;
    margin: 0.5em 0;
}

.content-meta span {
    display: inline-block;
    margin-right: 0.25em;
    text-transform: lowercase;
}

.content-meta span:last-child {
    margin-right: 25%;
}

.page-listing time {
    text-transform: lowercase;
}

@media (max-width:800px) {
    ul {
        padding-left: 1em;
    }
}